.main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 500;
    padding: 20px 0 0px;
}

.container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 1px solid grey;
    margin: 20px;
    padding: 20px;
    background-color: #f2eeeee9;
    border-radius: 4px;
}

.heading {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 8px;
}

.sub_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    width: 500px;
    padding: 8px;
    margin-bottom: 20px;
}

.textarea {
    width: 500px;
    padding: 8px;
    margin-bottom: 20px;
}

.btn_wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-weight: 500;
    background-color: rgb(14 165 233);
}